body {
	padding: 30px;
	width: 100%;
}

/*header*/
header {
	margin-bottom: 30px;
}
.logo img{
	width: 65px;
	vertical-align: middle;
	margin-right: 45px;
}
.d-inline-block{
	display: inline-block;
}
.nav-li{
	margin-right: 15px;
}
.nav-a {
	margin-top: 10px;
	color: #3D58A6;
	font-size: 15px;
	font-weight: 700;
}

.active{
	color: #EE4036;
}
/*header*/

/*section1*/
.section-1{
	margin-bottom: 70px;
}
.section-1 img{
	width: 690px;
}
/*section1*/

/*section2*/
.section-2 .sec2-h1{
	font-weight: bold;
	margin-bottom: 20px;
	font-family: Arial;
}

.grey{
	background-color: rgb(242,242,242);
}

.table{
	width: 685px;
	height: 130px;
}

.table .td1{
	width: 332.5px;
}

.table .td2{
	background-color: white;
	width: 20px;
}

.table .td3{
	width: 332.5px;
}

.td-h1{
	margin: 15px;
	font-family: Arial;
	color: rgb(109,129,186);
	font-weight: bold;
	font-size: 14px;
}
.table-div{
	margin-left: 30px;
}
.table-div-img{
	height: 70px;
	width: 19%;
	vertical-align: top;
	text-align: center;
}
.table-div-p{
	width: 60%;
	color: rgb(109,129,186);
	margin-left: 30px;
	font-size: 12px;
	color: rgb(177,178,179);
	font-family: Arial;
	font-weight: 530;
}
/*section2*/

/*footer*/
footer div{
	margin-top: 40px;
}
footer a img{
    height: 20px;
}
footer a .fb{
    padding-right: 22px;
    border-right:2px solid #3D58A6;
}
footer a .yt{
    padding-left: 20px;
}
/*footer*/